* {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

div {
  border: 1px solid red;
}

.container {
  display: flex;
}

#hero {
  height: 30rem;
}

#heroimg {
  z-index: -1;
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  /* background-color: gray; */
  width: 100%;
}

.topbar {
  position: absolute;
  display: inline-flex;
  width: 100%;
  background-color: cadetblue;
}

li {
  list-style: none;
}

ul {
  display: inline-flex;
}

#bannercontainer {
  padding-top: 10rem;
}

#banner {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
}
