/* universal bits */

div {
  border: 1px solid red;
}

html {
  font-size: 18px;
  font-family: "helvetica", sans-serif;
  background-color: white;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
}

/* header */
header {
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  padding-top: 1rem;
}

nav {
  background-color: cadetblue;
  color: white;
  display: flex;
}

.menu {

}

ul {
  justify-content: flex-end;
}

/* main sections */
.supporting {
  
}

.info {
  
}

.title {
  
}

/* footer */

footer {
  background-color: azure;
}

footer img {
  
}